@media(max-width: 991px) {
    .sidebar {
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}

nav {
    background-image: linear-gradient(to right, #63D8F1, #5BEA9D);
}

.active:hover {

    border-bottom: 2px solid black;
}

.dropdown-menu {
    background-image: linear-gradient(to right, #63D8F1, #5BEA9D);
}

.dropdown-menu :hover {
    border-bottom: 1px solid blue;
    background-image: linear-gradient(to right, #63D8F1, #5BEA9D);

}

.title {
    font-weight: 600;
}

.nav-link:hover {
    border-bottom: 2px solid blue;

}