@media(max-width: 991px){
    .sidebar{
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}

nav{
    background-image: linear-gradient(to right , #63D8F1,#5BEA9D);
}

.nav-item:hover{

    border-bottom: 1.5px solid black;
    
}