.FCDMTable {
  padding: 20px;
}

.FCDMTable .MuiTable-root {
  width: 100%;
  border-collapse: collapse;
}

.FCDMTable .MuiTableHead-root {
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
}

.FCDMTable .MuiTableCell-head {
  font-weight: bold;
  border-right: 1px solid #ddd;
  padding: 10px;
}

.FCDMTable .MuiTableCell-root {
  text-align: left;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.FCDMTable .MuiTableRow-root:nth-child(even) {
  background-color: #f2f2f2;
}

.FCDMTable .MuiTableRow-root:hover {
  background-color: #e0e0e0;
}

.FCDMTable .evidence-cellDM {
  display: flex;
  flex-wrap: wrap;
}

.FCDMTable .evidence-cellDM .files {
  margin-right: 10px;
}

.FCDMTable .evidence-cellDM .files a {
  text-decoration: none;
  margin-right: 5px;
}

.FCDMTable .editButton {
  margin-right: 10px;
  background-color: #4CAF50;
}

.FCDMTable .deleteButton {
  margin-left: 10px;
  background-color: #e74c3c;
}

.FCDMTable .deleteButton:hover {
  background-color: #c0392b;
}

.FCDMTable .editButton:hover { 
  background-color: #45a049;
}