.FCDMTable{
  position: relative;
  background-color:rgb(225,217,241);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
  border-radius: 5px;
  margin: 20px;
}

.FCDMTable table{
  width: 100%;
  border-collapse: collapse;
}

.FCDMTable th, .FCDMTable td {
  padding: 8px;
  text-align: center;
  border: 1px solid #000;
}

.FCDMTable th {
  background-color: #f2f2f2;
}

.FCDMTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.edtBtn {
  border: 0;
  outline: none;
  background-color: #4CAF50;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.deleteBtn {
  border: 0;
  outline: none;
  background-color: #e74c3c;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.edtBtn:hover {
  background-color: #45a049;
}

.deleteBtn:hover {
  background-color: #c0392b;
}

.genButton {
  text-align: center;
}

.genButton button{
  border: 0;
  outline: none;
  background-color: #3498db;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.genButton button:hover{
  background-color: #2980b9;
}

.search {
  width: 100%;
  text-align: right;
}

.search input {
  width: 300px;
  display: inline-block;
  margin-right: 20px;
}