.form1 {
  position: relative;
  width: 500px;
  background-color: #ECECEC;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  border: 1px solid #000000;
  margin-top: 60px;
  margin-bottom: 20px;
  margin: 60px auto 20px;
}

.subBut {
  display: block;
  margin: auto;
  padding: 5px;
  margin-top: 15px;
  background-color: #007bff;
  color: #ECECEC;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.subBut:hover {
  background-color: #0056b3;
}

.layout-container5 {
  background-image: url('../webImages/st4.jpg'); 
  background-size: cover;
  background-position: center;
}