/* Leave.css */

/* General styles */
.leave-container {
  height: 100vh; /* Set a fixed height to fill the entire viewport */
  overflow-y: auto; /* Enable vertical scrolling */
}

.title {
  text-align: center;
}

.addleave {
  width: 50%;
  margin: 0 auto;
}

.input {
  margin-bottom: 15px;
}

/* Form element styles */
label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Radio button styles */
input[type="radio"] {
  margin-right: 10px;
}

/* Submit button styles */
.bsubmit {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.bsubmit:hover {
  background-color: #45a049;
}

/* Additional styling for radio buttons */
div input[type="radio"] + label {
  margin-right: 20px;
}

div input[type="radio"]:last-child + label {
  margin-right: 0;
}
